.projects {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width:1200px) {
    padding-top: 99px;
    padding-bottom: 89px;}
}

.buttons-wrap {
    margin-bottom: 30px;
    @media screen and (min-width:768px) {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;}

    @media screen and (min-width:1200px) {
        margin-bottom: 50px;
         }
}
.buttons__list {
    display: flex;
    &:first-child  {
    margin-bottom: 15px;}
   
    @media screen and (min-width:768px){
    &:first-child {margin-bottom: 0px;}
    &:not(:last-child) {
        margin-right: 8px;}
       } 
}

.buttons-list__item:not(:last-child) {
    margin-right: 8px;
}

.buttons-list__button {
    padding: 6px 22px;
    padding-bottom: 6px;

    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    letter-spacing: 0.03em;
    background-color: $button-second-color;
    border: none;
    border-radius: 4px;
    color: $main-color;
    font-family: inherit;

    transition-property: background-color, color, box-shadow;
    @extend %transitions;

    &:hover,
    &:focus {
        background-color: $accent-color;
        color: $extra-white-color;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.projects__list {

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        }
  
    & .img__wrapper {
        position: relative;
        overflow: hidden;
        }
}

.projects__item {
    display: flex;
    &:not(:last-child) {
    margin-bottom: 30px;
        }

    transition-property: box-shadow;
    @extend %transitions;

    &:hover,
    &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
            }
    
     @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 30px) / 2);
    
         &:not(:last-child) {
            margin-bottom: 0px;}
         }
    
         @media screen and (min-width: 1200px) {
             flex-basis: calc((100% - 60px) / 3);
         }
}

.projects__description {
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    padding: 20px 24px;
    flex-grow: 1;
    }

.projects__title {
    margin-bottom: 10px;

    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
    color: $main-color;
}

.projects__text {
    line-height: calc(30 / 16);
    letter-spacing: 0.03em;
    color: $second-color;
}

.projects__overlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(33, 150, 243, 0.9);
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: calc(28 / 18);
    letter-spacing: 0.03em;
    color: $extra-white-color;
    padding: 63px 24px;

    transform: translateY(101%);
    transition-property: transform;
    @extend %transitions;
}

.projects__link {
    display: flex;
    flex-direction: column;
    transition-property: box-shadow;
    @extend %transitions;
    
    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    &:hover .projects__overlay,
    &:focus .projects__overlay {
        transform: translateY(0);
    }
        
}

