    $main-color: #212121;
    $second-color: #757575;
    $accent-color: #2196f3;
    $extra-white-color: #ffffff;
    $background-color: #ffffff;
    $background-section-color: #2f303a;
    $accent-black-color: #000000;
    $background-second-color: #f5f4fa;
    $button-second-color: #f5f4fa;

    $main-font: "roboto", "sans-serif";
    $logo-font: "Raleway", "sans-serif";